STRING METHODS

In [1]:
x = "powerful"

print(x[2])
print(len(x))

print(x[1:4])
print(x[1:5:2])
print(x[3:])
print(x[:4])
print(x[-1])
print(x[:-2])
print(x[-4:])
#################################################################
y = "hello" + "world"
print(y)
################################################################
z = "computer"
print("p" in z)

w
8
owe
oe
erful
powe
l
powerf
rful
helloworld
True

LIST METHODS

In [2]:
numbers = [55, 66, 77, 88]

numbers.append(99)
print(numbers)

numbers.insert(2, 33)
print(numbers)

numbers.remove(66)
print(numbers)

numbers.pop(2)
print(numbers)

numbers.sort()
print(numbers)

numbers.reverse()
print(numbers)

for number in numbers:
    print(number*2)

for index, number in enumerate(numbers):
    print(index, number)

print(max(numbers), len(numbers), min(numbers))
##############################################################################
letters = ["nice", "to", "meet", "you"]

print(letters[2])

print("to" not in letters)
##############################################################################
letters2 = ["nice", "to"] + ["meet", "you"]
print(letters2)

[55, 66, 77, 88, 99]
[55, 66, 33, 77, 88, 99]
[55, 33, 77, 88, 99]
[55, 33, 88, 99]
[33, 55, 88, 99]
[99, 88, 55, 33]
198
176
110
66
0 99
1 88
2 55
3 33
99 4 33
meet
False
['nice', 'to', 'meet', 'you']

DICTIONARY METHODS

In [3]:
myDict = {
    "name": "Alexa",
    "age": 21,
    "hobby": "sports",
    "dept": "cse"
}

print(myDict.keys())

print(myDict.values())

print(myDict.items())

print(myDict.get("age"))

print(myDict.pop("dept"))

newData = {
    "email": "hello@in",
    "spouse": "no"
}

myDict.update(newData)
print(myDict)

for key in myDict.keys():
    print(key)

for value in myDict.values():
    print(value)

for key, value in myDict.items():
    print(key, value)
##############################################################################
myDict2 = {
    "name": {
        "firstname": "tanmay",
        "lastname": "singh"
    },
    "program": {
        "course": "Btech",
        "dept": "CSE"
    }
}

print(myDict2)

dict_keys(['name', 'age', 'hobby', 'dept'])
dict_values(['Alexa', 21, 'sports', 'cse'])
dict_items([('name', 'Alexa'), ('age', 21), ('hobby', 'sports'), ('dept', 'cse')])
21
cse
{'name': 'Alexa', 'age': 21, 'hobby': 'sports', 'email': 'hello@in', 'spouse': 'no'}
name
age
hobby
email
spouse
Alexa
21
sports
hello@in
no
name Alexa
age 21
hobby sports
email hello@in
spouse no
{'name': {'firstname': 'tanmay', 'lastname': 'singh'}, 'program': {'course': 'Btech', 'dept': 'CSE'}}

LAMBDA FUNCTIONS

In [6]:
square = lambda num: num**2
print(square(2))
#############################################################################
addition = lambda num1, num2: num1+num2
print(addition(3, 2))
##############################################################################
numbers = [10, 20, 33, 40, 55]

squares = list(map(lambda num: num**2, numbers))
print(squares)

evens = list(filter(lambda num: num%2 == 0, numbers))
print(evens)
##################################################################################
students = [
    {
        "name": "rohan",
        "age": 20
    },
    {
        "name": "roshni",
        "age": 24
    },
    {
        "name": "roman",
        "age": 30
    }
]

result = sorted(students, key = lambda student: student["age"])
print(result)

4
5
[100, 400, 1089, 1600, 3025]
[10, 20, 40]
[{'name': 'rohan', 'age': 20}, {'name': 'roshni', 'age': 24}, {'name': 'roman', 'age': 30}]